<h1>Cart</h1>
<p>Find me in app/views/cart/show.html.erb</p>
<table>
  <tr>
    <th>ICBN</th>
    <th>Title</th>
    <th>Price</th>
    <th>Amount</th>
  </tr>
  <% @cart.cart_books.each do |order| %>

      <tr>
        <td><%= order.book.icbn %> </td>
        <td><%= order.book.title %> </td>
        <td><%= order.book.price %> </td>
        <td><%= order.amount %> </td>
      </tr>
  <% end %>
</table>


