<h3>Things to add</h3>
<table class="table table-bordered">
    <tr>
        <th>Isbn</th>
        <th>Title</th>
        <th>Price</th>
        <th>amount</th>
        <th>CTA</th>
    </tr>
    <tr ng-repeat="book in books">
        <td>{{book.isbn}}</td>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td><input name="amount" ng-model="amount" type="number" min="1"/></td>
        <td><button class="btn btn-primary" ng-disabled="amount == undefined" ng-click="addBook(book, amount)">Add book</button></td>
    </tr>
</table>
<h3>Current cart</h3>
<hash-table content="cart.content"
            mappings="{
                      Isbn: 'book.isbn',
                      Title: 'book.title',
                      Price: 'book.price',
                      amount: 'amount'
                      }">
</hash-table>
<p><button ng-click="checkout()">Checkout this beautiful cart</button></p>
