<form name="form" novalidate>
    <div class="form-group" ng-class="{'has-error': form.number.$touched && form.number.$invalid, 'has-success': form.number.$valid }">
        <label for="credit-card-number" class="control-label">Credit card number:</label>
        <input id="credit-card-number"
               class="form-control"
               ng-model="number"
               name="number"
               ng-pattern="/^\d{16}$/"
               required=""/>
        <div ng-show="form.$submitted || form.number.$touched">
            <span ng-show="form.number.$error.required" class="help-block">Credit Card number can't be empty.</span>
            <span ng-show="form.number.$error.pattern"
                  class="help-block">Credit card number must consist of 16 numbers</span>
        </div>
    </div>

    <div>
        <label for="credit-card-expiration-date" class="control-label"> Expiration date: </label>
        <select ng-model="expirationDate.year"
                ng-options="year for year in years"/>
        /
        <select ng-model="expirationDate.month"
                ng-options="month for month in months"/>
    </div>

    <input type="button"
           class="btn btn-primary"
           value="checkout"
           ng-disabled="form.$invalid"
           ng-click="checkout(number, expirationDate)"/>
</form>
