<form novalidate>
    <label for="username-input">Username</label>
    <input id="username-input" class="form-control" ng-model="username"/>
    <br/>

    <label for="password-input">Username</label>
    <input id="password-input" class="form-control" type="password" ng-model="password"/>
    <br/>


    <button class="btn btn-primary" ng-click="createCart(username, password)">Add cart</button>
    <!-- TODO should be checked -->
    <button class="btn btn-primary" ng-click="showPurcharses(username, password)">Show pucharses</button>
</form>
